@model CarPoolingMVC.Models.RequestVM
<link rel="stylesheet" href="~/css/MyRides.css">
<div class="row">
    <div class="col-md-10 ">
        <form id="BookRide">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4 rounded shadow" style="left: 4%">
                <div class="row" style="margin-bottom:20px">
                    <div class="col-md-8">
                        <h3>Book a Ride</h3>
                        <p>We get you Rides asap!</p>
                    </div>
                    <div class="col-md-4" style="top:12px">
                        <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div id="first">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input asp-for="Source" class="form-control" />
                                <label asp-for="Source" class="control-label"></label>
                                <span asp-validation-for="Source" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Destination" class="form-control" />
                                <label asp-for="Destination" class="control-label"></label>
                                <span asp-validation-for="Destination" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dot darkviolet"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <span class="glyphicon glyphicon-map-marker darkviolet"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input asp-for="StartDate" class="form-control" />
                        <label asp-for="StartDate" class="control-label"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <small>Time</small>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn round-button ">5am-9am</button>
                            <button type="button" class="btn round-button ">9am-12pm</button>
                            <button type="button" class="btn round-button ">12pm-3pm</button>
                            <button type="button" class="btn round-button ">3pm-6pm</button>
                            <button type="button" class="btn round-button ">6pm-9pm</button>
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label asp-for="VehicleType" class="control-label">Please Select the Vehicle</label><br />
                    <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleTypeVM>()" onchange="setNoOfSeats()"></select>
                </div>
                <div id="noOfSeats">
                    <div class="form-group">
                        <label asp-for="NoOfSeats" class="control-label"></label>
                        <input asp-for="NoOfSeats" class="form-control" />
                        <span asp-validation-for="NoOfSeats" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" id="availableRides">
    @*<form asp-action="RequestRide" asp-controller="Ride">

        @Html.HiddenFor(x => x.Request.StartDateTime)
        @Html.HiddenFor(x => x.Request.Destination)
        @Html.HiddenFor(x => x.Request.Source)
        @Html.HiddenFor(x => x.Request.NoOfSeats)
        @if (Model.AvailableRides == null)
        {
            <h3>Rides are Not Available</h3>
        }
        else
        {
            <h1 class="heading">Your Matches</h1>

            @foreach (var item in Model.AvailableRides)
            {
                <div class="col-md-4 p-3 mb-5 bg-white rounded shadow" style="left:4%">
                    <div class="row" style="margin-bottom:20px">
                        <div class="col-md-8">
                            <h2>@Html.DisplayFor(modelItem => item.ProviderName)</h2>
                        </div>
                        <div class="col-md-4" style="top:12px">
                            <img src="#" />
                        </div>
                    </div>

                    <div class="row">

                        <div class="row">
                            <div class="col-md-4">
                                <small>From</small>
                                <p>@Html.DisplayFor(modelItem => item.Route.Source)</p>
                            </div>
                            <div class="col-md-4">
                                <div class="dot" style="background-color:blue"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <span class="glyphicon glyphicon-map-marker" style="color:blue"></span>
                            </div>
                            <div class="col-md-4">
                                <small>To</small>
                                <p>@Html.DisplayFor(modelItem => item.Route.Destination)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <small>Date</small>
                                <p>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.StartTime));</p>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <small>Time</small>
                                <p>5-9</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <small>Price</small>
                                <p>@Html.DisplayFor(modelItem => item.Cost)</p>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <small>Seat Availablity</small>
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </form>*@
</div>