
    <script>
        $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    data: JSON.stringify(user),
                    url: "https://localhost:5001/api/RideApi/ViewRequests?rideId="+@ViewBag.rideId,
                    contentType: "application/json",
                    success: function (data) {
                        alert("success");
                        $.each(data, function (index, item) {
                            $("#Requests").append(
                            '<div class="col-md-4 p-3 mb-5 bg-white rounded shadow" style="left:4%">'+
    '<div class="row" style="margin-bottom:20px">'+
                                '<div class="col-md-8">'+
            '<h2>'+item.Id+'</h2>'+
        '</div>'+
                                '< div class="col-md-4" style = "top:12px" > '+
                                '< img src = "#" /> '+
        '</div > '+
    '</div > '+
                                '< div class="row" > '+
                                '< div class="row" > '+
                                '< div class="col-md-4" > '+
                                '< small > From</small > '+
                                '< p >'+item.Source+'</p > '+
            '</div > '+
                                '< div class="col-md-4" > '+
                                '< div class="dot darkviolet" ></div > '+
                                '< div class="dot" ></div > '+
                                '< div class="dot" ></div > '+
                                '< div class="dot" ></div > '+
                                '< span class="glyphicon glyphicon-map-marker darkviolet" ></span > '+
            '</div > '+
                                '< div class="col-md-4" > '+
                                '< small > To</small > '+
                                '< p >'+item.Destination+'</p > '+
            '</div > '+
        '</div > '+
                                '< div class="row" > '+
                                '< div class="col-md-4" > '+
                                '< small > Cost</small > '+
                                '< p >'+ item.Cost+'</p > '+
            '</div > '+
                                '< div class="col-md-4 col-md-offset-4" > '+
                                '< small > Seats </small > '+
                                '< p >'+item.NoOfSeats+'</p > '+
            '</div > '+
        '</div > '+
                                '< div class="row" > '+
                                '< div class="col-md-4" > '+
              
            '</div > '+
                                '< div class="col-md-4 col-md-offset-4" > '+
                
            '</div > '+
        '</div > '+
    '</div > '+
'</div > ')

                        });
                    },
                    error: function (e) {
                        console.log(e)
                    }

                });
            });
    </script>

<div id="Requests">

</div>


@*@if (!Model.Any())
{
    <h3>No Requests</h3>
}
else
{
    @foreach (var item in Model)
    {
<div class="col-md-4 p-3 mb-5 bg-white rounded shadow" style="left:4%">
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-8">
            <h2>@Html.DisplayFor(modelItem => item.Id)</h2>
        </div>
        <div class="col-md-4" style="top:12px">
            <img src="#" />
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <small>From</small>
                <p>@Html.DisplayFor(modelItem => item.Source)</p>
            </div>
            <div class="col-md-4">
                <div class="dot darkviolet"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <span class="glyphicon glyphicon-map-marker darkviolet"></span>
            </div>
            <div class="col-md-4">
                <small>To</small>
                <p>@Html.DisplayFor(modelItem => item.Destination)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <small>Cost</small>
                <p>@Html.DisplayFor(modelItem => item.Cost)</p>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <small>Seats </small>
                <p>@Html.DisplayFor(modelItem => item.NoOfSeats)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Accept", "ApproveRequest", "Ride", new { RideId = @ViewBag.RideId, RequestId = @item.Id, Decision = "Accept" })
            </div>
            <div class="col-md-4 col-md-offset-4">
                @Html.ActionLink("Reject", "ApproveRequest", "Ride", new { RideId = @ViewBag.RideId, RequestId = @item.Id, Decision = "Reject" })
            </div>
        </div>
    </div>
</div>
    }
}*@