@model IEnumerable<Models.ViewModels.OfferedRideVM>
@if (!Model.Any())
{
    <h3>No Rides</h3>
}
else
{
<form asp-action="ViewRequests" asp-controller="Ride">
    @foreach (var item in Model)
    {
    <button type="submit" name="RideId" value='@item.Id'>
        <div class="col-md-4 p-3 mb-5 bg-white rounded shadow">
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <small>From</small>
                        <p>@Html.DisplayFor(modelItem => item.Route.Source)</p>
                    </div>
                    <div class="col-md-4">
                        <div class="dot darkviolet"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <span class="glyphicon glyphicon-map-marker darkviolet"></span>
                    </div>
                    <div class="col-md-4">
                        <small>To</small>
                        <p>@Html.DisplayFor(modelItem => item.Route.Destination)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small>Date</small>
                        <p>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.StartDateTime));</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <small>Ride Status</small>
                        @if (item.IsRideCompleted)
                        {
                            <p>Completed</p>
                        }
                        else
                        {
                            <p>Not Completed</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small>Vehicle</small>
                        <p>@Html.DisplayFor(modelItem => item.VehicleId)</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <small>Seats Offered</small>
                        <p>@Html.DisplayFor(modelItem => item.NoOfOfferedSeats)</p>
                    </div>
                </div>
            </div>
        </div>
    </button>
    }
</form>
}