@model IEnumerable<CarPoolingMVC.Models.OfferedRideVM>
@if (!Model.Any())
{
    <h3>No Rides</h3>
}
else
{
<form asp-action="ViewRequests" asp-controller="Ride">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfOfferedSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRideCompleted)
            </th>
            <th>
               <label>Path</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfOfferedSeats)
            </td>
            <td>
                @if (item.IsRideCompleted)
                {
                    <label>Yes</label>
                }
                else
                {
                    <label>No</label>
                }  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Source)
                @foreach (var ViaPoint in item.Route.ViaPoints)
                {
                    <label>@ViaPoint.Location</label>
                }
                @Html.DisplayFor(modelItem => item.Route.Destination)
            </td>
            <td>
                <button type="submit" name="RideId" value='@item.Id'>View Requests</button>
            </td>
        </tr>
}
    </tbody>
</table>
</form>
}